header {
    position: relative;
}

.cont-header {
    padding: 16px 0;
}


.main-logo-header {
    margin: 30px auto;
    width: 200px;
    display: block;
}


.main-banner {
    background: url(../images/main-banner.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 120vh;

}


@media (max-width: 992px) and (min-height: 769px) {
    .main-banner {
        height: 90vh !important;
    }
}

@media (max-width: 768px) and (min-width: 443px) {
    .main-banner {
        height: 70vh ;
    }
}

@media (max-width: 442px) {
    .main-banner {
        height: 40vh;
    }
}





.celebrate-section,
.section-cont-1 {
    h1 {
        font-family: Meno-Bold;
        text-transform: uppercase;
        color: #d3072a;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 768px) {
        h1 {
            font-size: 28px;
        }
    }

    p {
        font-family: Roboto-Regular;
        text-align: left;
        width: 60%;
        display: block;
        margin: 0 auto;
    }
}


@media (max-width: 992px) {

    .celebrate-section,
    .section-cont-1 {
        p {
            width: 100%
        }
    }
}


.section-1 {
    position: relative;

    .section-image-1 {
        width: 46%;
    }

    @media (max-width: 992px) {
        .section-image-1 {
            width: 46%;
            margin: 0 auto;
            display: block;
        }
    }

    @media (max-width: 442px) {
        .section-image-1 {
            width: 100%;
            margin: 0 auto;
            display: block;
        }
    }

    .section-cont-1 {
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 66%;
        padding: 100px;
    }

    @media (max-width: 992px) {

        .section-cont-1 {
            position: relative;
            top: 40;  
            margin: 80px auto 0 auto;
            padding: 50px;
        }
    }

    @media (max-width: 442px) {

        .section-cont-1 {
            width: 100%;
        }
    }
}


.section-2 {
    position: relative;

    .section-image-2 {
        width: 46%;
        float: right;
    }

    @media (max-width: 992px) {
        .section-image-2 {
    float: none;
    display: block;
    margin: 0 auto;
        }
    }

    @media (max-width: 442px) {
        .section-image-2 {
            width: 100%;
        }
    }

    .section-cont-1 {
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        top: 380px;
        left: 0;
        width: 66%;
        padding: 100px;
    }

    @media (max-width: 992px) {
        .section-cont-1 {
            top: 40px;
            position: relative;
            padding: 50px;
            margin: 80px auto 0 auto;
        }
    }

    @media (max-width: 442px) {
        .section-cont-1 {
            width: 100%;
        }
    }
}


.house-section {
    clear: both;
    padding-top: 90px;
    @media (max-width: 992px) {
        padding-top: 0;
    }

    @media (max-width: 992px) {
        .the-house-container {
            margin: 40px 0;
        }
    }

    img {
        width: 100%;
    }

    h1 {
        font-family: Meno-Bold;
        text-transform: uppercase;
        color: #d3072a;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 70px;
        @media (max-width: 992px) {
            margin-bottom: 0;
        }
        @media (max-width: 768px) {
                font-size: 28px;
        }
    
    }
   

    h4 {
        // font-family: Meno-Bold;
        color: #d3072a !important;
        text-align: center;
        padding: 20px 0;
    }

    p {
        font-family: Roboto-Regular;
    }
}



.collection-section {
    background: url(../images/BG-Image.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 240vh;
    @media (max-width: 992px) and (min-width: 769px) {
        height: 260vh;
    } 

    @media (max-width: 768px) {
        height: 210vh;
    }
    h1 {
        font-family: Meno-Bold;
        text-transform: uppercase;
        color: #d3072a;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 70px;

        @media (max-width: 768px) {
                font-size: 28px;
                margin-bottom: 0
        
        }
    
    }

    .collection-table {
        margin: 60px;
        border: 10px solid #d39950;
     

        @media (max-width: 992px) {
            overflow-x: scroll;
        }

        @media (max-width: 768px) {
            margin: 20px;
        }
        table {
            text-align: center;

            th,
            td {
                padding: 20px;
            }

            .sub-title {
                margin-top: 40px;
                margin-bottom: 18px;
            }

            .table-title {
                font-family: Meno-Bold;
                font-weight: 400;
                font-size: 24px;
            }
        }

        .collection-content {
            height: 282px;
            width: 200px;
            text-align: center;
            display: block;
            margin: 0 auto;
            img {
                @media (max-width: 442px) {
                    width: 20%;
                }
            }

            @media (max-width: 768px) {
                height: 190px;

            }
        }

        p {
            font-family: Roboto-Regular;
            display: block;
            margin: 0 auto;
        }
    }
}

.footer-text {
    text-align: center;
    opacity: 0.2;
    margin-bottom: 20px;
}

